* {margin:0; padding: 0;box-sizing: border-box;}

header{width:100%; height: 10%; background-color: #353a40;display: inline-block;}
main{height: auto; background-color: rgb(124, 138, 241);}

header .cabecera{
    display: flex;
    background-color: #353a40;
}

header .izq {width: 50%; display: flex;}
header .logo {margin-left: 10%;}
header .txLogo{margin-top:10px;color:white; font-size: 1.7rem;width: 30% ;}
header .der{ display: inline;width: 50%;}
header nav {height: 100%;background-color: #353a40 ;padding:3%; }
nav a{color: #7e8f9b; text-decoration: none;align-items: flex-end; margin: 0 0.2rem;}
nav a:active{color: white; font-weight: bold;
}
a:hover{
    color: beige;
}
#marcador{color: white; font-weight: bold;
}
.resaltador{
    color: #29a744;
}
.resaltaBgd{
    background-color: #29a744;
}
.home{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:right;
    background:linear-gradient(to right,rgb(0 0 0 /.5),rgb(0 0 0 /.5)), url("../img/ba3.jpg");
    background-size: cover;
    background-position: center;
}
.home-texto{
    text-align: right;
    color:white;
    width: 50%;
    margin-right: 3rem;
}

.home a{
    margin: 1rem;
}

.imgHome{background-image:url("img/ba3.jpg");width: 100%;; object-fit: contain;}
.txHome{position: relative;float: right; width: 70%; height: auto; background-color: blanchedalmond;z-index: 10;}


.cajaAside{background-color:#353a40;
    display: flex;
}
.aside{width: 100%; display: inline-block;}

.txAside{margin: 2rem;color: white;padding-bottom: 10px; height: 80%;}

.oradores{
    background-color:white;
    text-align: center;
    align-items: center;
    justify-content: center;

} 
.oradoresTx{
    padding-top: 5%;

}

.oradoresCajas{ 
    justify-content: center;
    align-items: center;
    text-align: center;   
}
.cajas{   
    max-width: 50vh;   
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding-bottom: 15px; 
}

.cajas img{width: 100%;
border-radius: 5px 5px 0 0;}

.cajas .tx{
    border: rgb(228, 228, 228) solid 2px;
    margin: 0px auto;
    padding: 0 auto;
}
.cajas p{
    margin: 10px;
}
.cajas .etiqueta{
    text-align: center;
    vertical-align: center;
    margin: 15px auto 5px 10px;
    padding: 2px;
    width: auto;
    display: inline-block;
    color: white;
    border-radius: 3px;
}
#e1{
    background-color:#fdc005;
}

#e2{
    background-color:#17a2b9;
}

#e3{
    background-color:#6c767d;
}

#e4{
    background-color:#dc3645;
}

.cajas h3{
    margin: 5px auto 5px 10px;
}


/* Formulario final */
.inscripcion{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 3%;
}

.inscripcion a{
    color:#000000;
    border-color:#000000;
    border-bottom-style: dotted;
    text-decoration: none;
}
.inscripcion .min{
    font-size: 0.7rem;
    text-align: left;
    margin-left: 3%;
}
.cajaForm{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1% auto;
}

.formulario{
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.losInputs {
    display: flex;
    margin: 0; 
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.estilosInput{
    border-color: rgb(213, 213, 212);
    border-radius: 3px;
    border-width: 1px;
    margin: 0 auto;
    width: 45%;
    padding-left: 10px;
}

.estilosOtros{
    margin: 0 auto;
    display: block;
    width: 95%;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

.btnForm{
    margin: 0 auto;
    display: block;
    width: 95%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    border: 0px;
    background-color: #96c93e;
    border-radius: 7px;
}


footer{
    background: rgb(29,55,68);
    background: linear-gradient(90deg, rgba(29,55,68,1) 0%, rgba(30,83,114,1) 100%);
     margin: 10px auto 0 auto; text-align: center;
    padding: 20px;}
footer a{color: white;}

@media screen and (max-width:576px) {
   
 header  .cabecera{display: block; text-align: center;}
   header nav {visibility: none;width: 100%; background-color: #4d5054;}
   header nav a{border: 1px solid #dadada;display: block;margin: 0px;}

    header .izq {width: 100%; display: flex;}

header .der{width: 100%; }

header nav {padding:0px; }
header .txLogo{
    margin-left: 70px;
}
.home{
    height:80vh;
   
}
.home-texto{
    text-align: center;
    width: 100%;
    margin: 0px 2%;
}

.cajas{   
    max-width: 80vh;   
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding-bottom: 15px; 
}


    .cajaAside{    display: block;
    }
    
    .losInputs {
        display: block;
        margin: 10px;    
    }   
    .formulario{
        width: 100%;
        
    }
    .estilosInput{
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }   
}